*{
  color: var(--gray-700);
}
h2,
.main span {
  font-weight: 700;
}
h2{
  font-size: 2.5rem;
  word-break: keep-all;
  line-height: 3rem;
}

section:not(.main) {
  background-color: #cfe5ff;
}


.intro,
.ending {
  padding-top: 4.2rem;
}
.flex_div{
  height: 33rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.title_div{
  margin-bottom: 6.25rem;
  width: 30rem;
}
.ending .title_div{
  margin-bottom: 11rem;
}

.intro h2 {
  margin-bottom: 2rem;
}

.intro .shopping {
  display: block;
  font-size: 1.25rem;
  text-align: center;
  width: 21rem;
}

.main img {
  max-width: 36.75rem;
}
.main .card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
  padding: 7rem 0;
}
.main .card.right {
  flex-direction: row-reverse;
  text-align: right;
}

.card_info span {
  display: block;
  font-size: 1.125rem;
  color: var(--primary-100);
  margin-bottom: 1.4rem;
}
.card_info h2 {
  width: 18rem;
  margin-bottom: 2.8rem;
}
.card_info p {
  font-size: 1.5rem;
}



@media screen and (max-width: 1199px) {

  .flex_div{
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 5rem;
    text-align: center;
  }
  .intro .flex_div{
    height: 48rem;
  }
  .ending .flex_div{
    height: 58rem;
  }
  .title_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .card_outter{
    margin: 1.5rem;
  }
  
  .main .card.right{
    flex-direction: column;
  }
  .main .card{
    flex-direction: column;
    align-items: unset;
    padding: 0 0 3.25rem;
  }
  .main img{
    max-width: 100%;
    border-radius: 1rem;
  }
  .card_info h2{
    width: 100%;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .card_info p{
    font-size: 1.125rem;
  }

}

@media screen and (max-width: 767px) {

  .intro,
  .ending {
    padding-top: 0;
  }
  
  .flex_div{
    height: 33.75rem;
  }

  .title_div{
    max-width: 21rem;
  }

  .main .card{
    padding: 1.5rem 0;
  }

}