.signup_formbox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nickname_label,
.password_re_label {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Pretendard", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 15px;
}

.nickname_label,
.password_label,
.password_re_label {
  margin-top: 22px;
}

.password_label,
.password_re_label {
  position: relative;
}

.nickname_input,
.password_re_input {
  width: 100%;
  height: 56px;
  font-family: "Pretendard", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #1f2937;
  background-color: #f3f4f6;
  border: none;
  border-radius: 12px;
  padding: 0 25px;
}

.password_btn img,
.password_re_btn img {
  max-width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}

.nickname_error,
.password_re_error {
  font-family: "Pretendard", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #f74747;
  padding-left: 20px;
  margin-top: 15px;
  display: none;
}

.eye_wrapper_re {
  position: relative;
}

.signup_btn {
  height: 56px;
  font-family: "Pretendard", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: #f3f4f6;
  background-color: #1967d6;
  border: 0px;
  border-radius: 40px;
  margin-top: 22px;
  cursor: pointer;
}

.signup_btn:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
  pointer-events: none;
}

.login {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-family: "Pretendard", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
}

.login p {
  color: #1f2937;
}

.login a {
  color: #3692ff;
}
