* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.header {
  padding: 9px 400px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1120px;
}

.navbar .title img {
  width: 153px;
  height: 51px;
}

.login {
  width: 128px;
  height: 48px;
  padding: 12px 23px;
  text-align: center;
  background-color: #3692ff;
  border-radius: 8px;
}

.login a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.main-section {
  background-color: #cfe5ff;
  height: 540px;
}

.main-section .content {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 200px;
}

.main-section .content .description {
  display: flex;
  gap: 32px;
  flex-direction: column;
  padding-bottom: 60px;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.main-section .content .description a {
  display: flex;
  align-items: center;
  background-color: #3692ff;
  border-radius: 40px;
  height: 56px;
  padding: 16px 124px;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}

.main-section .content img {
  width: 746px;
  height: 340px;
}

.hotitem-section {
  padding: 138px 466px;
  background-color: #ffffff;
}

.hotitem-section .content {
  display: flex;
  align-items: center;
  gap: 64px;
  border-radius: 12px;
  background-color: #fcfcfc;
}

.hotitem-section .content img {
  width: 579px;
  height: 444px;
}

.hotitem-section .content .description {
  display: flex;
  flex-direction: column;
  padding-right: 24px;
  gap: 12px;
}

.hotitem-section .content .description span {
  font-size: 18px;
  font-weight: bold;
  color: #3692ff;
}

.hotitem-section .content .description .description-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hotitem-section .content .description h2 {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
}

.hotitem-section .content .description p {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

.search-section {
  padding: 138px 466px;
  background-color: #ffffff;
}

.search-section .content {
  display: flex;
  align-items: center;
  gap: 64px;
  border-radius: 12px;
  background-color: #fcfcfc;
  text-align: right;
}

.search-section .content img {
  width: 579px;
  height: 444px;
}

.search-section .content .description {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  gap: 12px;
}

.search-section .content .description span {
  font-size: 18px;
  font-weight: bold;
  color: #3692ff;
}

.search-section .content .description .description-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-section .content .description h2 {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
}

.search-section .content .description p {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

.register-section {
  padding: 138px 466px;
  background-color: #ffffff;
}

.register-section .content {
  display: flex;
  align-items: center;
  gap: 64px;
  border-radius: 12px;
  background-color: #fcfcfc;
}

.register-section .content img {
  width: 579px;
  height: 444px;
}

.register-section .content .description {
  display: flex;
  flex-direction: column;
  padding-right: 24px;
  gap: 12px;
}

.register-section .content .description span {
  font-size: 18px;
  font-weight: bold;
  color: #3692ff;
}

.register-section .content .description .description-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.register-section .content .description h2 {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
}

.register-section .content .description p {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}
