a {
  color: var(--gray200);
  text-decoration: none;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background-color: var(--white);
  margin: 0 auto;
  padding: 9.5px 200px;
  min-width: 375px;
  display: flex;
  align-items: center;
}

header,
.bottom-banner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 540px;
  background-color: #cfe5ff;
  margin: 0 auto;
}

main {
  margin-top: 138px;
  margin-bottom: 120px;
}

footer {
  width: 100%;
  background-color: #111827;
  padding: 32px 0 108px;
}

.login-btn,
.signup-btn {
  display: inline-flex;
  padding: 12px 23px;
  background-color: var(--blue);
  border-radius: 8px;
  border: none;
  color: var(--gray100);
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
}

.header-btn {
  display: inline-flex;
  width: 357px;
  height: 56px;
  background-color: var(--blue);
  border-radius: 40px;
  border-style: none;
  text-decoration: none;
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  min-width: 240px;
  min-height: 48px;
}

.title:hover,
.logo:hover {
  cursor: pointer;
}

.login-btn:hover,
.header-btn:hover,
.signup-btn:hover {
  cursor: pointer;
  background-color: #1967d6;
}

.login-btn:focus,
.header-btn:focus,
.signup-btn:focus {
  background-color: #1251aa;
}

.login-btn:disabled,
.header-btn:disabled,
.signup-btn:disabled {
  background-color: var(--gray400);
  color: var(--white);
  cursor: not-allowed;
  pointer-events: none;
}

@media (min-width: 768px) and (max-width: 1199px) {
  nav {
    padding: 10px 24px;
  }

  .login-btn {
    padding: var(--login-btn-padding);
  }

  header {
    height: 771px;
  }

  main {
    margin: 52px 0 82px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  footer {
    width: 100%;
    height: 160px;
    padding: 32px 104px 108px 104px;
  }
}

@media (max-width: 767px) {
  nav {
    padding: 10px 16px;
  }

  .login-btn {
    padding: var(--login-btn-padding);
  }

  header {
    height: 540px;
  }

  main {
    margin: 52px 0 82px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  footer {
    width: 100%;
    height: 160px;
    padding: 32px 32px 30px 32px;
  }
}
